/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: 'StandardFont';
    src: url('./asset/fonts/Roboto-Black.ttf') format('tff')
  }
  

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'StandardFont';
    background-color: #96B6C5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button{
border-style: none;
border-bottom: 1.5px solid #F1F0E8;
background-color: #ADC4CE;
font-size: 1.5rem;

}

button:hover{
    background-color: #f0f0f0;
    border-radius: 5px;
}

h1{
    color: white;
    font-size: 50px;
    font-family: 'StandardFont';

}

h3 {
    color: white;
    font-size: 1.7rem;
    font-family: 'StandardFont';

}

.nav{
    padding: 20px 0px 20px 0px;
    background-color: #ADC4CE;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1.5px solid #F1F0E8;
}

ul{
    display: flex;
    gap: 30px;
}

.contentSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.info{
    padding: 30px;
    border-radius: 15px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(asset/images/header.jpg);
    background-size: cover;
    width: 100vw;
    height:  90vh;
    background-color: #F1F0E8;
}

.burgerImgs {
    width: auto;
    height: 200px;
    margin: 10px;
}

.infoDivCard{
    background-color: #96B6C5;
    width: 30vw;
    height: 100px;
    opacity: 0.7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

h5{
    font-size: 1.2rem;
}

.locationDiv{
    display: flex;
    align-items: center;
    gap: 5px;
}

.hoursDiv{
    display: flex;
    align-items: center;
    gap: 5px;
}